body {
    margin: 0;
     font-family: "Condiment", cursive;
    font-weight: 300;
    font-style: normal;
    background: #f8bebe;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    background: white;
    border-radius: 20px;
    padding: 2rem;
    width: 90%;
    max-width: 900px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    z-index: 1;
}

@keyframes fall {
    0% { transform: translateY(-10%) rotate(0deg); opacity: 0;}
    10% { opacity: 1; }
    100% { transform: translateY(110vh) rotate(360deg); opacity: 0; }
}

.particle {
    position: absolute;
    top: -50px;
    font-size: 1rem;
    opacity: 0;
    animation: fall linear infinite;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.home-btn {
    display: inline-block;
    background: #d93057;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: background 0.3s ease;
}

.home-btn:hover {
    background: #a51e3c;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
}

.card {
    background: #f28b82;
    border-radius: 15px;
    padding: 2rem 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.card i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.card:hover {
    transform: scale(1.05);
}

.card.temperatura { background: #ff7f50; }
.card.humedad     { background: #4db6ac; }
.card.luz         { background: #fbc02d; color: black; }
.card.fotos       { background: #ba68c8; }

.particle:nth-child(1) { left: 5%; animation-duration: 12s; font-size: 1.2rem; }
.particle:nth-child(2) { left: 20%; animation-duration: 15s; font-size: 0.9rem; }
.particle:nth-child(3) { left: 35%; animation-duration: 10s; font-size: 1.1rem; }
.particle:nth-child(4) { left: 50%; animation-duration: 18s; font-size: 1.3rem; }
.particle:nth-child(5) { left: 65%; animation-duration: 14s; font-size: 1rem; }
.particle:nth-child(6) { left: 80%; animation-duration: 16s; font-size: 1.2rem; }
.particle:nth-child(7) { left: 90%; animation-duration: 13s; font-size: 0.8rem; }