body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f8f9fa, #e0ffe4);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d93057;
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: colorChange 5s infinite alternate;
}

@keyframes colorChange {
    0% { background: #d93057; }
    100% { background: #30d979; }
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    flex: 1; /* fuerza al título a ocupar el centro */
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% { text-shadow: 0 0 5px #fff; }
    50% { text-shadow: 0 0 20px #ffb6c1; }
    100% { text-shadow: 0 0 5px #fff; }
}

header img {
    height: 80px;
    width: auto;
    border-radius: 50%;
}

header .buttons {
    display: flex;
    gap: 15px; /* espacio entre botones */
}

header button {
    background: white;
    color: #d93057;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

header button:hover {
    background: #fce4ec;
}

main {
    display: flex;
    flex: 1;
    gap: 2rem;
    padding: 2rem;
}

.measures, .photo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem 0;
    width: 90%;
    max-width: 250%;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card.time-card {
    background: #f0f8ff;
    border-left: 6px solid #30d979;
}

.card.time-card i {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    color: #30d979;
}

.card i {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    color: #d93057;
}

.card p {
    font-size: 1.2rem;
    margin: 0;
}

.last-update {
    font-size: 0.9rem;
    color: #555;
    margin-top: 0.5rem;
    font-style: italic;
}

.measures {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
}


.photo-container img {
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}